body {
  font-family: 'Open Sans', serif;
}

.navbar > * {
  font-family: 'Open Sans', serif;
  font-size: 14pt;
}

.navbar-brand {
  color: #ffffff!important;;
  font-size: 16pt;
}

.section-heading {
  font-family: 'Open Sans', serif;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 18pt;
  padding-top: 85px;
  margin-top: -85px;
  color: #031265;
}

.section-text {
  font-size: 14pt;
  color:black;
}

.section-end {
  padding-bottom: 2em;
}